.background {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: auto;
    height: auto;
}

@media only screen and (max-width: 520px) {
    .img {
        width: 50%;
    }
}