.background {
    background-color: #444b53;
}

.score {
    font-size: 10em;
    font-weight: bold;
    color: #fff;
    margin: 2%;
}

.cards {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 60px;
}

@media only screen and (max-width: 1350px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .score {
        font-size: 8rem;
    }
}
